<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="3.1">
    <display-name>ConfigContextApp</display-name>
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
        <welcome-file>index.jsp.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name> website</param-name>
        <param-value>www.google.com</param-value>
    </context-param>

    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>servlet.FirstServlet</servlet-class>
        <init-param>
            <param-name> msg1</param-name>
            <param-value>Well come to FirstServlet</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>servlet.SecondServlet</servlet-class>
        <init-param>
            <param-name> msg2</param-name>
            <param-value>Well come to SecondServlet</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/second</url-pattern>
    </servlet-mapping>

</web-app>